<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <p> <%= expert.fname %> <%= expert.lname %>, </p>
  <p> Thank you for signing up as an expert for Code Genius. We will email you as soon as a user signs up with a problem that aligns with your expertise. If you have any questions or concerns, please don't hesitate to email us at info@codegenius.io</p>
  <p> Thank you, </p>
  <p> Code Genius Team</p>
</body>
</html>
