<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <p> <%= expert.fname %> <%= expert.lname %>, </p>
  <p> Thank you for signing up as an expert for Code Genius. We will email this address to keep you informed of anyone who will need your expertise. If you have any questions email us at info@codegenius.io</p>
  <p> Thank you, </p>
  <p> Code Genius Team</p>
</body>
</html>
