<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <p> <%= expert.fname %> <%= expert.lname %>, </p>
  <p> Thank you for signing up as a user for Code Genius. We will email this address once we find an expert that can help you. If you have any questions email us at info@codegenius.io</p>
  <p> Thank you, </p>
  <p> Code Genius Team</p>
</body>
</html>