<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <p> <%= user.fname %> <%= user.lname %>, </p>
  <p> Thank you for signing up as a user for Code Genius. We will email you within the next few days once we find a suitable expert for your needs. If you have any questions, please don't hesitate to email us at info@codegenius.io</p>
  <p> Thank you, </p>
  <p> Code Genius Team</p>
</body>
</html>
