<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <p> <%= user.fname %> <%= user.lname %>, </p>
  <p> Thank you for signing up as a user for Code Genius. Click <a href="http://codegenius.io/signin">here</a> to login and submit a problem ticket. If you have any questions, please do not hesitate to email us at info@codegenius.io</p>
  <p> Thank you, </p>
  <p> Code Genius Team</p>
</body>
</html>
