<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Code Genius</title>
</head>
<body>
  <div class="row top-bar">
    <div class="left">
      <a href="/" class=""><img src="img/logo.svg" id="logo" alt="Logo" align="middle"></a>
    </div>
  </div>
  <div class="container">
    <%- content %>
  </div>
</body>
</html>
