<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=944, initial-scale=1">
    <title>Code Genius</title>
    <meta name="description" content="Code Genius is a web platform that connects engineers in industry or research teams facing programming problems in advanced languages to experts who can solve these problems in an efficient and cost effective manner.">
    <meta property="og:title" content="Code Genius">
    <meta property="og:description" content="Code Genius is a web platform that connects engineers in industry or research teams facing programming problems in advanced languages to experts who can solve these problems in an efficient and cost effective manner.">
    <meta property="og:image" content="http://www.codegenius.io/img/logo.png">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#tf-home">Code Genius</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-howitworks" class="page-scroll">How it works</a></li>
            <li><a href="#tf-geniuses" class="page-scroll">Geniuses</a></li>
            <li><a href="#tf-team" class="page-scroll">About Us</a></li>
<!--            <li><a href="#tf-faq" class="page-scroll">FAQ</a></li>-->
            <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
            <li><a href="/signin" class="page-scroll">Sign in</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">  
            <div class="content">
              <h1>Welcome to <strong><span class="color">Code Genius<img src="img/logo.svg" id="logo" alt="Logo" align="middle"></span></strong></h1>
                <p class="lead">We help people with a <strong>programming</strong> problem solve that problem.</p>
                <p class="intro"> Our specialties lie in <strong>advanced</strong> programming languages such as Mathematica, Matlab, and R. </p>
                <div class="row register-wrapper">
                  <a href="/userRegistration" class="register">Register as a user</a>
                  <a href="/expertRegistration" class="register">Register as an expert</a>
                </div>
                <div class="row">
                <a href="#tf-howitworks" id="scrolldown" class="btn fa fa-angle-down page-scroll"></a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- How it works
    ==========================================-->
    <div id="tf-howitworks">
        <div class="container">
            <div class="row">
                <div id="center">
                    <div class="about-text">
                        <br>
                        <div class="section-title">
                            <h2><strong>How it works</strong></h4>
                            <br>
                            <div class="clearfix"></div>
                        </div>
                        <div class="users">
                          <h3> I have a problem </h3>
                          <ol>
                            <li> Register <a href="/userRegistration" style="color: #494EA1;"><strong>here</strong></a> and tell us about your probelm.</li>
                            <li> Wait for a few days as we connect you with a Genius suitable for your needs.  </li>
                            <li> You and your Genius discuss the meeting time and hourly rates yourselves. </li>
                            <li> You pay through our site, and we will safely wire the money over to your Genius.  </li>
                            <li> The average rate set by our experts range from $1/min to $3/min. </li>
                          </ol>
                        </div>
                        <div class="experts">
                          <h3> I am an expert (Genius)</h3>
                          <ol>
                            <li> Sign up <a href="/expertRegistration" style="color: #494EA1;"><strong>here</strong></a> on our website. We will record your expertise and the languages you program in.</li>

                            <li> Depending on your qualifications, we may have a phone interview with you in order to ensure the quality of our Geniuses.</li>
                            <li> We will match you with users whose problems best suit your skills. </li>
                            <li> You get paid through our site so that your money is always safe and sound. </li>
                          </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <hr>
      

      <!-- Geniuses -->
      <div id="tf-geniuses" class="text-center">
       <div class="container">
         <div class="section-title center">
          <h2> Meet Our <strong>Top Geniuses</strong></h2>
          <div class="line"></div>
         <p class="intro"> Our Geniuses have diverse backgrounds, ranging from college professors to engineers in industry. We have a Genius for any problem you give us.</p>
         <br>

               <center>
                <div class="carousel slide" id="screenshot-carousel" data-ride="carousel" >
                  <ol class="carousel-indicators">
                      <li data-target="#screenshot-carousel" data-slide-to="0" style="background-color: black;" class="active"></li>
                      <li data-target="#screenshot-carousel" data-slide-to="1" style="background-color: black;"></li>

                  </ol>
                  <div class="carousel-inner" style="height: 440px;">
                      <div class="item active">
                        <center><img src="img/petrkout.jpg" class="img-circle team-img alignMe"></center>
                          <div>
                              <h3>Petr</h3>
                              <h5>Hardware and Software Developer</h5>
                              <p style="width: 300px"><font size="2">Petr earned a BS in physics from Columbia University in 2010 and worked as a research assistant in Prof. Marka's lab with a focus on biophysics. He has also co-founded jewbilation.com and has had many years of experience in various Software, Electronic, and Hardware Engineering disciplines. His LinkedIn profile is <a href="https://www.linkedin.com/in/petrkout" style="color: #0C121C;"><strong>here</strong></a>.</font></p>
                          </div>
                      </div>
                      <div class="item">
                        <center><img src="img/neil.jpg" class="img-circle team-img alignMe"></center>
                          <div >
                              <h3>Neil</h3>
                              <h5>Mechanical Engineer, MIT</h5>
                            <p style="width: 300px"> <font size="2">Neil has an impressive resume boasting a PhD in Mechanical Engineering from MIT as well as being the founder of two companies: Convolve. Inc and AC Kinetics. His expertise is in the modeling and analysis of dynamic systems, control systems, and GAMS. He is also very profficient with Mathematica, Matlab, Simulink, and SystemModeler. </font></p>
                          </div>
                      </div>

                  </div>
                  <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev"><img src="img/chevron-left.png" style="margin-top: 130px;"></span></a>
                  <a href="#screenshot-carousel" class="right carousel-control" data-slide="next"><img src="img/chevron-right.png" style="margin-top: 130px;"></a>
              </div>
              </center>

                  <div class="col-md-6">
                         <p class="intro">Some languages our Geniuses support include:</p>
                         <br>
                            <p>Mathematica, Matlab, R, Maple, Fortran, LabVIEW, Simulink, Haskell, Simulink, and Scala.
                            </p>
                  </div>
                  <div class="col-md-6">
                          <p class="intro">Some expertise areas our Geniuses specialize in include: </p>
                          <br>
                            <p>Digital image processing, mathematical modelling, computational physics, neural networks, software architecture, and much more.</p>
                 </div>

         <!--<p> Their expertise areas include machine learning, digital image processing, neural networks, distributed data systems, feedback control systems, general algebraic modelling, Arduino, dynamic systems, scientific computing, statistical computing, numerical algorithms, LaTeX, multiprocessing, domain specific modelling, genome sequencing, insurance, combinatorics, mechanical engineering, code bases, language parsing, computational physics, software architecture, design pattern, mathematical modelling, threading, data analysis, satellite communication, GPS tracking, client-server web development, full stack web-development, and app development.  </p>
         <br>
         <p> Our Geniuses also support the following languages: Mathematica, Maple, R, Fortran, LabVIEW, Simulink, SystemModeler, Python, Cython, Haskell, Scala, C++, C#, Java, Ruby, Bash, Julia, HTML, CSS, jQuery, Assembly, node.js, Javascript, and PHP. </p> -->
       </div>
       <div class="panel-group" id="accordion" >
                  <div class="panel panel-default col-md-6" style="margin-top: 4.5px;">
                      <div class="panel-heading" style="background-color: white">
                          <div class="panel-title" style="background-color: white;">
                              <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">More Languages</a>
                          </div>
                        <div id="collapse-1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>SystemModeler, Python, Cython, Haskell, Scala, C++, C#, Java, Ruby, Bash, Linux, Scipy, AutoCAD, Arduino, OpenCV, Puppet, Julia, HTML, CSS, jQuery, Assembly, MySQL, node.js, Javascript, and PHP.
</p>
                            </div>
                      </div>
                      </div>
                  </div>
                  <div class="panel panel-default col-md-6" >
                      <div class="panel-heading" style="background-color: white">
                          <div class="panel-title" style="background-color: white">
                              <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion">More Expertise Areas</a>
                          </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Machine learning, computer based physics-controlled experiments, distributed data systems, feedback control systems, electronics and hardware engineering, augmented reality, cloud server development, general algebraic modelling, Arduino, dynamic systems, scientific computing, statistical computing, numerical algorithms, LaTeX, multiprocessing, domain specific modelling, genome sequencing, insurance, combinatorics, mechanical engineering, code bases, language parsing, design pattern, threading, data analysis, satellite communication, GPS tracking, client-server web development, full stack web-development, and app development.
</p>
                            </div>
                      </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
    <br>
    <hr>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong> Code Genius Team</strong></h2>
                  <div class="line"></div>
                      <p class="intro">Our team is a group of high school students who met at the MIT Launch 2015 program. Bound together by a passion for entrepreneurship and innovative problem solving, our mission is to reduce programming's  steep learning curve. To do so, we connect engineers in industry or research teams facing programming problems in <strong>advanced languages</strong> to experts who can solve these problems in an efficient and cost effective manner.
</p>
                </div>


                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/brianphoto.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Brian Singer</h3>
                                <p><strong>Armonk, New York</strong></p>
                               <!-- <p>Brian is a hacker and innovator. He loves to program and research in his free time. Brian is also a full-stack developer and cofounder of jgrader.com, a business that helps over 100 CS teachers grade their students' Java code.</p> -->

                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/dannyphoto.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Danny Liu</h3>
                                <p><strong>Toronto, Canada</strong></p>
                             <!-- <p>Danny is a hacker, hustler, and planner. When passionate about something, he will be sure give it his all. If you don't see Danny after a long day of networking, however, it's probably because he's taken off on a hiking adventure.</p> -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/chiragphoto.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Chirag Manyapu</h3>
                                <p><strong>Atlanta, Georgia</strong></p>
                             <!-- <p>Chirag is a visionary, strategist and innovator. This fall, he will be attending the University of Pennsylvania where he plans to earn a dual degree in IR and Finance. He enjoys sports, reading, and spending time with family.</p> -->
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/sunnyphoto.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Sunny Cui</h3>
                                <p><strong>Vancouver, Canada</strong></p>
                              <!--<p>Sunny is a dreamer, maker and hustler. She wants to fuse her passions in biomedical engineering and business through entrepreneurship. She can often be found networking, playing piano, dragon boating or reading.</p> -->
                            </div>
                        </div> 
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <hr>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title center">
                        <h2>Contact <strong>us</strong></h2>
                        <div class="clearfix"></div>            
                    </div>

                    <form action="/contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input id="name" type="text" name="name" class="form-control" placeholder="Enter name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" name="email" class="form-control"  placeholder="Enter email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea id="message" class="form-control" name="message" rows="3"></textarea>
                        </div>
                        
                        <button type="submit" class="btn tf-btn btn-default">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>COPYRIGHT © 2015. Code Genius</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/codegenius1?notif_t=page_new_likes"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/code-genius"><i class="icon-linked-in"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65743738-1', 'auto');
    ga('send', 'pageview');

  </script>


  </body>
</html>
